body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row .col-1{
  width: 30%;
  border:2px solid aqua;
 
}
.row .col-2{
  width: 70%;
  height: 80vh;
  border:2px solid aqua;

}

/* Chat.css */

.item {
  padding: 20px;
}

.texing {
  margin-bottom: 20px; 
}
.list-group {
 height: 70vh; 
  width: 100%;
  overflow-y: auto;
  
}
.lastMessageCount{
  display: flex;
}
.count{
  background-color: cadetblue;
  width: 20px;
  height: 25px;
  border-radius:5px ;
  margin: 10px;
}
.questions{
  background-color: rgb(238, 244, 249);
  width: 20rem;
  margin: 10px;
  padding: 1px;
  border: 2px solid grey;
  
}
.outer{
display: flex;
flex-wrap: wrap;
}
.inner{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 10px; */
  padding: 10px;
  border: 2px solid grey;
}
.list{
  padding: 5px;
}
/* Add any other styling as needed */

